<!DOCTYPE html>
<html lang="pt" data-theme="night">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto GV</title>
</head>

<body>
    
    <div class="navbar bg-base-100 shadow-sm mb-4">
        <a class="btn btn-ghost text-xl">Auto GV</a>
      </div>

      <a href="tasks/form" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus-icon lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
        Cadastrar novo carro
      </a>


    <main class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center">     

    <div th:each="task : ${tasks}" class="card card-border bg-base-300 w-96">
        <div class="badge badge-success m-4">Classificação geral</div>

        <div class="card-body items-center">
          <h2 class="card-title" th:text="${task.title}"></h2>
          <p th:text="${task.description}"></p>
          <div
          class="radial-progress bg-primary text-primary-content border-primary border-4"
        style="--value:80;" aria-valuenow="70" role="progressbar">
        80%
        </div>
    </div>
    <div class="card-actions justify-end m-4">
      <button class="btn btn-soft btn-error">Atualizar</button>
    </div>
     <div class="card-actions justify-end m-4">
      <button class="btn btn-soft btn-error">Apagar</button>
    </div>
      </div>
    
    <div th:each="task : ${tasks}" class="card card-border bg-base-300 w-96">
        <div class="badge badge-success m-4">Lista dos meus carros</div>  
    <div class="card bg-base-200 shadow-xl w-80">

    <!-- Área da lista com scroll -->
    <div class="bg-base-100 rounded-lg mt-4 p-2 h-40 overflow-y-auto">
      <ul class="menu w-full">
        <li><a>Honda Fit</a></li>
        <li><a>Chevrolet Onix</a></li>
        <li><a>Ford Focus</a></li>
        <li><a>Ford Mustang</a></li>
        <li><a>Chevrolet Cruze</a></li>
        <li><a>Honda Civic</a></li>
        <li><a>Carro 7</a></li>
      </ul>
    </div>

    <!-- Botão no final do card -->
    <div class="card-actions justify-end mt-4">
      <button class="btn btn-error">Apagar</button>
    </div>
  </div>
</div>


    <div class="card card-border bg-base-300 w-96">
        <div class="badge badge-success m-4">Banco de dados</div>

        <div class="card-body items-center">
          <h2 class="card-title">Estrutura do banco de dados</h2>
          <p>Criar o banco de dados com 3 tabelas no mysql</p>
          <div
          class="radial-progress bg-primary text-primary-content border-primary border-4"
        style="--value:70;" aria-valuenow="70" role="progressbar">
        70%
        </div>
    </div>
    <div class="card-actions justify-end m-4">
      <button class="btn btn-soft btn-error">Apagar</button>
    </div>
      </div>
</main>

    <h2>Lista de tarefas</h2>
    <ul>
        <li>Tarefa 1</li>
        <li>Tarefa 2</li>
        <li>Tarefa 3</li>
    </ul>

</body>
</html>